<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <% @friends.each do |friend| %>
      <strong>Name: </strong> <%= friend.full_name %>
      <strong>Email: </strong> <%= friend.email %>
      <%= link_to "View Profile", '#', class: "btn btn-small btn-success" %>
      <%= link_to 'Add Friend', '#',
                                    class: "btn btn-success", method: :post %>
      <hr>
      <br>
    <% end %>                                
  </div>
<% end %>